/* Styles for the Login Modal */
.modal {
    position: fixed;
    z-index: 1000; /* Đảm bảo modal nằm trên cùng */
    top: 10px; /* Đặt modal ở gần top */
    right: 10px; /* Đặt modal ở gần right */
}

.modal-content {
    position: relative;
    background-color: #fff; /* Màu nền của modal */
    padding: 15px;
    border: 1px solid #888; /* Đường viền modal */
    width: 300px; /* Chiều rộng modal thu gọn */
    max-width: 90%; /* Chiều rộng tối đa, để tương thích với màn hình nhỏ */
    border-radius: 10px; /* Bo góc modal */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Thêm bóng đổ để modal nổi bật */
}

.close {
    position: absolute;
    top: 5px; /* Căn chỉnh lại vị trí nút close */
    right: 10px; /* Căn chỉnh lại vị trí nút close */
    color: #000;
    font-size: 25px; /* Giảm kích thước nút close */
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    margin-top: 0;
    font-size: 20px; /* Giảm kích thước tiêu đề */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 5px 0; /* Giảm khoảng cách giữa các nhãn */
    font-size: 14px; /* Giảm kích thước chữ của label */
}

input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 8px;
    margin-bottom: 8px; /* Giảm khoảng cách giữa các trường nhập liệu */
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px; /* Giảm kích thước chữ trong input */
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Đẩy nút sang bên phải */
}

input[type="submit"],
button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 14px; /* Giảm kích thước chữ trên nút */
}

input[type="submit"]:hover,
button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 15px; /* Giảm khoảng cách trên của đoạn văn */
    font-size: 12px; /* Giảm kích thước chữ của đoạn văn */
    text-align: center; /* Căn giữa nội dung đoạn văn */
}
.back-arrow {
    cursor: pointer;
    color: #007bff;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: 10px;
    text-decoration: none;
}

.back-arrow:hover {
    color: #0056b3;
}
